
.idea/Floorplan.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
all_records.png
500search_records.json
500search_floorplan.png
1000search_records.json
1000search_floorplan.png
